{% extends "base.html" %}
{% block title %}Logs{% endblock %}
{% block content %}

<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Latest Messages
    </div>
    <div class="card-body">
        <table id="datatablesSimple">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>ID</th>
                    <th>From</th>
                    <th>To</th>
                    <th>Message</th>
                    <th>Date</th>
                </tr>
            </tfoot>
            <tbody>
                {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td>{{ message.from }}</td>
                    <td>{{ message.to|join(', ') }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.date.strftime('%Y-%m-%d %H:%M') if message.date else 'N/A' }}</td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="5" style="text-align: center;">No messages found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

<!-- {% block extra_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js"
crossorigin="anonymous"></script>
<script src="{{ url_for('static', path='js/datatables-simple-demo.js') }}"></script>
{% endblock %} -->
